{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <div class="container border">
        {% for program in matchedPrograms %}
            <div class="m-2 p-2 border">
                <h2><a class="text-secondary" href="{{ path('program_show', {slug: program.slug}) }}">#{{ program.id }} {{ program.title }}</a></h2>
                <p>{{ program.summary }}</p>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    </div>
{% endblock %}
