{% extends 'base.html.twig' %}

{% block title %}Episode {{ episode.number }} : {{ episode.title }} - {{ program.title }}{% endblock %}

{% block body %}
    <h1 class="title">{{ program.title }} - Season {{ season.number }}</h1>

    <div class="d-flex flex-column align-items-center w-75 m-auto">
        <h2 class="m-2">Episode {{ episode.number }} : {{ episode.title }}</h2>

        <p class="synopsis_episode">Synopsis : {{ episode.synopsis }}</p>

        <p class="m-4"><a class="retour" href="{{ path("program_season_show", { slug: program.slug, seasonId: season.id }) }}">Retour</a></p>

        {% if app.user %}
            <p>{{ app.user.email }}</p>
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <input type="submit" value="Add comment" />
            {{ form_end(form) }}
        {% endif %}

        <div class="episode-comment-section">
            {% for comment in comments %}
                <p>
                    <span class="author">{{ comment.author.email }} <span class="date-of-the-comment">{{ comment.datecomment|date('Y-m-d h:i:s') }}</span></span>
                    <span class="author-comment">{{ comment.comment }}</span>
                    <span class="episode-rate">Rate : {{ comment.rate }}</span>
                    {% if app.user %}
                        {% if app.user.email == comment.author.email or is_granted("ROLE_ADMIN") %}
                            <a href="{{ path("comment_delete", {id: comment.id}) }}">Delete</a>
                        {% endif %}
                    {% endif %}
                </p>
            {% else %}
                <p class="no-comments">No comments</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
