{% extends 'base.html.twig' %}

{% block title %}Episode {{ episode.number }} : {{ episode.title }} - {{ program.title }}{% endblock %}

{% block body %}
    <h1 class="title">{{ program.title }} - Season {{ season.number }}</h1>

    <div class="d-flex flex-column align-items-center w-75 m-auto">
        <h2 class="m-2">Episode {{ episode.number }} : {{ episode.title }}</h2>

        <p class="synopsis_episode">Synopsis : {{ episode.synopsis }}</p>

        <p class="m-4"><a class="retour" href="{{ path("program_season_show", { slug: program.slug, seasonId: season.id }) }}">Retour</a></p>
    </div>
{% endblock %}
