{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

<div class="media">
    <img class="poster_serie align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
    <div class="media-body">
        <h1 class="title mt-0">{{ program.title }}</h1>
        <p class="paragraph_style_1">{{ program.summary }}</p>
        <p class="paragraph_style_1">Catégorie : {{ program.category.name }}</p>


        {% for season in seasons %}
            <div class="season">
                <h2 class="title_season"><a href="{{ path("program_season_show", {programId: program.id, seasonId: season.id}) }}">Season {{ season.number }}</a></h2>

                <p>Year : {{ season.year }}</p>

                <p><em>Description</em> : {{ season.description }}</p>
            </div>
        {% endfor %}

<a class="d-block m-auto retour" href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>

    </div>
</div>

{% endblock %}
